#clock
{
background-image:url('../IMAGES/clock.gif');
height:515px;
width:515px;
position:relative;
}

#hr
{transform-origin:bottom;
height:120px;
width:15px;
background-color:black;
position:absolute;
left:250px;
top:150px;


}
#min
{transform-origin:bottom;
height:150px;
width:5px;
background-color:black;
position:absolute;
left:250px;
top:120px;


}
#sec
{transform-origin:bottom;
height:170px;
width:2px;
background-color:black;
position:absolute;
left:250px;
top:100px;

}